@model List<BookInfor>

<div>
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Book List</h2>
        </div>

        <div class="col-6 text-right">
            <a asp-controller="BookInfor" asp-action="Create" class="btn btn-primary">
                Create New Book
            </a>
        </div>
    </div>
    <form method="get" asp-controller="BookInfor" asp-action="Index">
        <p>
            <input type="search" placeholder="Enter Name of Book..." value="@ViewData["GetBookDetails"]" name="Booksearch" style="width:500px;" />
            <input type="submit" value="Search" class="btn btn-primary" />
            <a asp-action="Index">Get All Books</a>
        </p> 
    </form>
    @if (Model.Count() > 0)
    {
<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Book Name
            </th>
            <th>
                Author
            </th>
            <th>
                Publishing Year
            </th>
            <th>
                Amount
            </th>
            @*<th>
                Category ID
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bookinfor in Model)
        {
        <tr>
            <td width="20%">
                @bookinfor.Name
            </td>
            <td width="20%">
                @bookinfor.Author
            </td>
            <td width="20%">
                @bookinfor.PublishYear
            </td>
            <td width="20%">
                @bookinfor.Amount
            </td>
            @*<td width="20%">
                @bookinfor.Category.Name
            </td>*@
            <td>
                <div>
                    <a asp-controller="BookInfor" asp-action="Details" asp-route-Id="@bookinfor.Id" class="btn btn-danger"><i class="fas fa-info"></i></a>
                    <a asp-controller="BookInfor" asp-action="Delete" asp-route-Id="@bookinfor.Id" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                </div>
            </td>
        </tr>}
    </tbody>
</table> }
else
{
<p>Không tồn tại thể loại trong database</p>}
</div>